body {
  margin: 0;
}
h1,h3{
    margin:0;
    line-height: 40px;
}

#modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 20px;
  right: 20px;
  height: calc(100vh - 40%);
}
#close {
  position: absolute;
  top: 23%;
  z-index: 5;
  right: 50px;
}
.none {
  display: none;
}
.flex{
    display: flex;
}
.w-full{
    width:100%
}
.w-200{
    width:200px;
    min-width: 200px;
}
.flex-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
